//Основные цвета
$color-black: #000000;
$color-black-opacity-light: rgba($color-black, 0.05);
$color-black-opacity-light-2: rgba($color-black, 0.1);
$color-black-opacity-light-3: rgba($color-black, 0.2);
$color-black-opacity: rgba($color-black, 0.3);
$color-black-opacity-medium: rgba($color-black, 0.6);
$color-black-opacity-medium-2: rgba($color-black, 0.5);
$color-white: #ffffff;

:root {
  /* Компонентные цвета */

}
