//Основные цвета
$color-black: #000000;
$color-black-opacity-light: rgba($color-black, 0.2);
$color-black-opacity: rgba($color-black, 0.3);
$color-black-opacity-medium: rgba($color-black, 0.6);
$color-white: #ffffff;
$color-beige-ivory: #F1EDE5;
$color-beige-grey: #BEBAB4;
$color-grey-graphite: #686B6B;
$color-grey-dark: #5D5D5D;
$color-grey-light: #D9D9D9;
$color-green-dark: #004638;


:root {
  /* Компонентные цвета */
  //Header
  --color-header-background: #{$color-beige-ivory};
  --color-header-border: #{$color-beige-grey};
  --color-header-nav-link: #{$color-black};
  --color-header-button-text: #{$color-black};
  --color-header-button-icon: #{$color-grey-graphite};

  //Footer
  --color-footer-background: #{$color-beige-ivory};
  --color-footer-border: #{$color-beige-grey};
  --color-footer-heading: #{$color-black};
  --color-footer-nav-link: #{$color-black};
  --color-footer-description: #{$color-grey-dark};

  //Input
  --color-input-text: #{$color-black};
  --color-input-border: #{$color-black-opacity-light};
  --color-input-border-focus: #{$color-black};
  --color-input-caret: #{$color-beige-grey};
  --color-input-placeholder-text: #{$color-black};

  //Button
  --color-button: #{$color-white};
  --color-button-background: #{$color-green-dark};
  --color-button-transparent-text: #{$color-black};
  --color-button-transparent-border: #{$color-black-opacity};

  //Scroll
  --color-scroll-button: #{$color-grey-light};
  --color-scroll-button-active: #{$color-green-dark};


  //Page-main
  //Main-section
  --color-main-section-background: #{$color-beige-ivory};
  --color-main-section-heading: #{$color-black};
  --color-main-section-description: #{$color-grey-dark};
  --color-main-section-element-background: #{$color-green-dark};

  //Services-section
  --color-services-section-background: #{$color-beige-ivory};
  --color-services-section-heading: #{$color-black};
  --color-services-section-card-border: #{$color-black-opacity};
  --color-services-section-card-subheading: #{$color-grey-dark};
  --color-services-section-card-heading: #{$color-black};
  --color-services-section-card-icon-box-shadow: #{$color-black-opacity};
  --color-services-section-card-element-background: #{$color-green-dark};
  --color-services-section-card-description: #{$color-black-opacity-medium};

  //Portfolio-section
  --color-portfolio-section-background: #{$color-beige-ivory};
  --color-portfolio-section-subheading: #{$color-grey-dark};
  --color-portfolio-section-heading: #{$color-black};
  --color-portfolio-section-description: #{$color-grey-dark};

  //Info-section
  --color-info-section-background: #{$color-beige-ivory};
  --color-info-section-wrapper-border: #{$color-black-opacity};
  --color-info-section-heading: #{$color-black};
  --color-info-section-description: #{$color-grey-dark};
  --color-info-section-element-background: #{$color-green-dark};

  //Faq-section
  --color-faq-section-background: #{$color-beige-ivory};
  --color-faq-section-heading: #{$color-black};
  --color-faq-section-subheading: #{$color-grey-dark};
  --color-faq-section-element-background: #{$color-green-dark};
  //Faq
  --color-faq-heading: #{$color-black};
  --color-faq-text: #{$color-grey-dark};
  --color-faq-toggle-border: #{$color-grey-dark};
  --color-faq-toggle-icon:  #{$color-grey-dark};
}
