// Основной шрифт
$font-family-main: "Roboto", "Arial", sans-serif;

// Базовые переменные
:root {
  --font-h1: 700 64px/70px #{$font-family-main};
  --font-h2: 700 50px/64px #{$font-family-main};
  --font-h2-2: 700 50px/52px #{$font-family-main};
  --font-h3: 700 24px/28px #{$font-family-main};
  //--font-h4: 700 21px/21px #{$font-family-main};
  //--font-h5: 700 18px/18px #{$font-family-main};
  //--font-h6: 700 17px/20px #{$font-family-main};
  //--font-h7: 700 38px/38px #{$font-family-main};
  //--font-h8: 700 20px/20px #{$font-family-main};

  //--font-body-bold: 700 16px/18px #{$font-family-main};
  //--font-body-bold-2: 700 14px/16px #{$font-family-main};
  --font-body-medium: 500 32px/56px #{$font-family-main};
  --font-body-regular: 400 18px/24px #{$font-family-main};

  --font-caption-regular: 400 16px/15px #{$font-family-main};
  --font-caption-light: 300 16px/25px #{$font-family-main};

  --font-small-regular: 400 14px/20px #{$font-family-main};
  //--font-body-light: 300 16px/18px #{$font-family-main};
  //
  //--font-caption-regular: 400 14px/14px #{$font-family-main};
  //
  //--font-tooltip: 400 20px/20px #{$font-family-main};

  //Header
  --font-header-nav-link: var(--font-small-regular);
  --font-header-button-text: var(--font-small-regular);

  //Footer
  --font-footer-heading: var(--font-body-medium);
  --font-footer-nav-link: var(--font-small-regular);
  --font-footer-description: var(--font-body-regular);

  //Input
  --font-input-text: var(--font-small-regular);
  --font-input-placeholder: var(--font-small-regular);

  //Button
  --font-button: var(--font-small-regular);

  //Page-main
  //Main-section
  --font-main-section-heading: var(--font-h1);
  --font-main-section-description: var(--font-body-regular);

  //Services-section
  --font-services-section-heading: var(--font-h2);
  --font-services-section-card-subheading: var(--font-small-regular);
  --font-services-section-card-heading: var(--font-h3);
  --font-services-section-card-description: var(--font-caption-light);

  //Portfolio-section
  --font-portfolio-section-subheading: var(--font-small-regular);
  --font-portfolio-section-heading: var(--font-h2-2);
  --font-portfolio-section-description: var(--font-body-regular);

  //Info-section
  --font-info-section-heading: var(--font-h2);
  --font-info-section-description: var(--font-body-regular);
}
