// Основной шрифт
$font-family-main: "Roboto", "Arial", sans-serif;

// Базовые переменные
:root {
  --font-h1: 700 64px/70px #{$font-family-main};
  --font-h2: 700 50px/64px #{$font-family-main};
  --font-h2-2: 700 50px/52px #{$font-family-main};
  --font-h3: 700 24px/28px #{$font-family-main};
  //--font-h4: 700 21px/21px #{$font-family-page-main};
  //--font-h5: 700 18px/18px #{$font-family-page-main};
  //--font-h6: 700 17px/20px #{$font-family-page-main};
  //--font-h7: 700 38px/38px #{$font-family-page-main};
  //--font-h8: 700 20px/20px #{$font-family-page-main};

  --font-body-medium: 500 32px/56px #{$font-family-main};
  --font-body-regular: 400 18px/24px #{$font-family-main};
  --font-body-regular-2: 400 20px/24px #{$font-family-main};

  --font-caption-bold: 700 16px/26px #{$font-family-main};
  --font-caption-regular: 400 16px/15px #{$font-family-main};
  --font-caption-light: 300 16px/25px #{$font-family-main};

  --font-small-regular: 400 14px/20px #{$font-family-main};

  --font-display: 900 90px/90px #{$font-family-main};
  //--font-body-light: 300 16px/18px #{$font-family-page-main};
  //
  //--font-caption-regular: 400 14px/14px #{$font-family-page-main};
  //
  //--font-tooltip: 400 20px/20px #{$font-family-page-main};

  //Header
  --font-header-nav-link: var(--font-small-regular);
  --font-header-button-text: var(--font-small-regular);

  //Footer
  --font-footer-heading: var(--font-body-medium);
  --font-footer-nav-link: var(--font-small-regular);
  --font-footer-description: var(--font-body-regular);

  //Input
  --font-input-text: var(--font-small-regular);
  --font-input-placeholder: var(--font-small-regular);

  //Button
  --font-button: var(--font-small-regular);

  //Field
  --font-field-label: var(--font-caption-bold);
  --font-field-input-text: var(--font-body-regular);
  --font-field-input-placeholder: var(--font-body-regular);

  //Faq
  --font-faq-heading: var(--font-h3);
  --font-faq-text: var(--font-body-regular);


  //Page-page-main
  //Main-section
  --font-main-section-heading: var(--font-h1);
  --font-main-section-description: var(--font-body-regular);

  //Services-section
  --font-services-section-heading: var(--font-h2);
  --font-services-section-card-subheading: var(--font-small-regular);
  --font-services-section-card-heading: var(--font-h3);
  --font-services-section-card-description: var(--font-caption-light);

  //Portfolio-section
  --font-portfolio-section-subheading: var(--font-small-regular);
  --font-portfolio-section-heading: var(--font-h2-2);
  --font-portfolio-section-description: var(--font-body-regular);

  //Info-section
  --font-info-section-heading: var(--font-h2);
  --font-info-section-description: var(--font-body-regular);

  //Faq-section
  --font-faq-section-heading: var(--font-h2);
  --font-faq-section-subheading: var(--font-body-regular);

  //Feedback-section
  --color-feedback-section-heading: var(--font-h2);
  --font-feedback-section-subheading: var(--font-body-regular);

  //Page-description
  //Platform-section
  --font-platform-section-subheading: var(--font-small-regular);
  --font-platform-section-heading: var(--font-h2-2);
  --font-platform-section-description: var(--font-body-regular);

  //Description-section
  --font-description-section-heading: var(--font-h2-2);
  --font-description-section-heading-before: var(--font-display);
  --font-description-section-wrapper: var(--font-body-regular-2);

  //Page-about
  //About-section
  --font-about-section-heading: var(--font-h2-2);
  --font-about-section-text: var(--font-body-regular-2);

  //Page-questions
  //Questions-section
  --font-questions-section-heading: var(--font-h2-2);
}

@media (max-width: 767px) {
  :root {
    //--font-h1: 700 64px/70px #{$font-family-main};
    --font-h2: 700 24px/28px #{$font-family-main};
    --font-h2-2: 700 24px/28px #{$font-family-main};
    --font-h3: 700 16px/20px #{$font-family-main};
    --font-h3-mobile: 700 16px/18px #{$font-family-main};

    //--font-body-medium: 500 32px/56px #{$font-family-main};
    //--font-body-regular: 400 18px/24px #{$font-family-main};
    --font-body-regular-mobile: 400 12px/14px #{$font-family-main};
    --font-body-regular-mobile-2: 400 12px/16px #{$font-family-main};
    //--font-body-regular-2: 400 20px/24px #{$font-family-main};
    //
    //--font-caption-bold: 700 16px/26px #{$font-family-main};
    //--font-caption-regular: 400 16px/15px #{$font-family-main};
    --font-caption-light: 300 12px/18px #{$font-family-main};
    //
    //--font-small-regular: 400 14px/20px #{$font-family-main};
    --font-small-regular-mobile: 400 10px/14px #{$font-family-main};
    //
    //--font-display: 900 90px/90px #{$font-family-main};

    //Footer
    --font-footer-heading: var(--font-h3-mobile);

    //Field
    --font-field-input-text: var(--font-body-regular-mobile-2);
    --font-field-input-placeholder: var(--font-body-regular-mobile-2);

    //Faq
    --font-faq-text: var(--font-body-regular-mobile-2);

    //Page-page-main
    //Main-section
    --font-main-section-heading: var(--font-h2);
    --font-main-section-description: var(--font-body-regular-mobile);

    //Services-section
    --font-services-section-card-subheading: var(--font-small-regular-mobile);

    //Portfolio-section
    --font-portfolio-section-description: var(--font-body-regular-mobile);
  }
}
