@use "../variables" as *;

.nav__list {
  margin-inline: 100px;
  display: flex;
  align-items: center;
  gap: 44px;
}

.nav__link {
  color: var(--color-nav-link);
  font: var(--font-nav-link);
  letter-spacing: 1.4px;
  outline: none;
  text-transform: uppercase;
  white-space: nowrap;
}
