@use "../../variables" as *;

.feedback-section {
  padding-bottom: 217px;
  position: relative;
  background-color: var(--color-feedback-section-background);

  @media (max-width: $mobile-width) {
    padding-bottom: 371px;
  }
}

.feedback-section__heading {
  margin-bottom: 21px;
  color: var(--color-feedback-section-heading);
  font: var(--color-feedback-section-heading);
  letter-spacing: -0.98px;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.feedback-section__subheading {
  margin-bottom: 47px;
  color: var(--color-feedback-section-subheading);
  font: var(--font-feedback-section-subheading);
  letter-spacing: 2.52px;

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.feedback-section__element {
  position: absolute;
  width: var(--feedback-section-element-width);
  height: var(--feedback-section-element-height);

  &.-cross {
    --feedback-section-element-width: 189px;
    --feedback-section-element-height: 189px;
    top: auto;
    left: auto;
    right: 684px;
    bottom: 66px;

    @media (max-width: $mobile-width) {
      --feedback-section-element-width: 109.7px;
      --feedback-section-element-height: 109.7px;
      left: 5%;
      right: auto;
      bottom: 38px;
    }
  }

  &.-warrior {
    --feedback-section-element-width: 908px;
    --feedback-section-element-height: 605px;
    top: auto;
    left: auto;
    right: 69px;
    bottom: 0;

    @media (max-width: $mobile-width) {
      --feedback-section-element-width: 526.71px;
      --feedback-section-element-height: 351.14px;
      top: auto;
      left: auto;
      right: -20%;
      bottom: 0;
    }
  }

  &.-triangle {
    --feedback-section-element-width: 181px;
    --feedback-section-element-height: 157px;
    top: 52px;
    left: auto;
    right: 500px;
    bottom: auto;
    border-left: calc(var(--feedback-section-element-width) / 2) solid transparent;
    border-right: calc(var(--feedback-section-element-width) / 2) solid transparent;
    border-bottom: var(--feedback-section-element-height) solid var(--color-feedback-section-element-background);
    transform: rotate(30.1deg);

    @media (max-width: $mobile-width) {
      --feedback-section-element-width: 104px;
      --feedback-section-element-height: 91px;
      top: auto;
      left: 22%;
      right: auto;
      bottom: 227px;
      transform: rotate(-90deg);
    }
  }

  &.-circularity {
    --feedback-section-element-width: 424px;
    --feedback-section-element-height: 424px;
    top: auto;
    left: auto;
    right: 150px;
    bottom: 71px;
    background-color: var(--color-feedback-section-element-background);
    border-radius: 50%;

    @media (max-width: $mobile-width) {
      --feedback-section-element-width: 246.09px;
      --feedback-section-element-height: 246.09px;
      top: auto;
      left: auto;
      right: -8%;
      bottom: 41px;
    }
  }
}
