@use "../variables" as *;

.platform-section {
  padding-top: 156px;
  padding-bottom: 210px;
  background-color: var(--color-platform-section-background);

  @media (max-width: $mobile-width) {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}

.platform-section__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    display: grid;
    gap: 10px;
  }
}

.platform-section__title {
  margin-right: 30px;
  display: grid;
  grid-template-rows: repeat(4, min-content);

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.platform-section__subheading {
  color: var(--color-platform-section-subheading);
  font: var(--font-platform-section-subheading);
  letter-spacing: 1.26px;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    margin-bottom: 5px;
  }
}

.platform-section__heading {
  margin-bottom: 7px;
  color: var(--color-platform-section-heading);
  font: var(--font-platform-section-heading);
  letter-spacing: -0.98px;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.platform-section__description {
  --platform-section-description-max-width: 547px;
  margin-bottom: 25px;
  color: var(--color-platform-section-description);
  font: var(--font-platform-section-description);
  letter-spacing: 2.52px;
  max-width: var(--platform-section-description-max-width);

  @media (max-width: $mobile-width) {
    --platform-section-description-max-width: 345px;
    margin-bottom: 15px;
    letter-spacing: 0;
  }
}

.platform-section__scroll {
  display: none;

  @media (max-width: $mobile-width) {
    margin-top: 10px;
    display: block;
  }
}

.platform-section__picture {
  --platform-section-picture-width: 624px;
  --platform-section-picture-height: 439px;
  position: relative;
  width: var(--platform-section-picture-width);
  height: var(--platform-section-picture-height);
  z-index: 0;

  @media (max-width: $mobile-width) {
    --platform-section-picture-width: 345px;
    --platform-section-picture-height: 272.01px;
  }
}

.platform-section__image {
  position: absolute;
  width: var(--platform-section-image-width);
  height: var(--platform-section-image-height);

  &.-platform {
    --platform-section-image-width: 624px;
    --platform-section-image-height: 439px;
    top: 0;
    left: 0;

    @media (max-width: $mobile-width) {
      --platform-section-image-width: 327.67px;
      --platform-section-image-height: 231px;
    }
  }

  &.-columns {
    --platform-section-image-width: 436px;
    --platform-section-image-height: 436px;
    top: 127px;
    left: 348px;

    @media (max-width: $mobile-width) {
      --platform-section-image-width: 228.95px;
      --platform-section-image-height: 228.95px;
      top: 68px;
      left: -89px;
      transform: scaleX(-1);
    }
  }

  &.-iphone {
    display: none;

    @media (max-width: $mobile-width) {
      --platform-section-image-width: 83.55px;
      --platform-section-image-height: 169.68px;
      display: block;
      top: 84px;
      left: auto;
      right: 0;
    }
  }
}
